.scanner-wrapper {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0,0,0,0.5);
  padding: 10px 30px;
  border-radius: 10px;
  color: #00ff9d;
  font-family: monospace;
  text-align: center;
  box-shadow: 0 0 15px #00ff9d;
}

.scanner-box h2 {
  margin-bottom: 10px;
  font-size: 24px;
}